@model AgenziaSpedizioni.Models.Cliente

@{
    ViewBag.Title = "Delete";
}

<h1>Delete</h1>
@Html.ActionLink("Torna a elenco", "Index", null, new { @class = "btn btn-primary" })

<h3>Sicuro di voler cancellare questo cliente?</h3>
<div>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TipoCliente, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.TipoCliente, new { @id = "TipoCliente" })
            @Html.ValidationMessageFor(model => model.TipoCliente, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CodiceFiscale, htmlAttributes: new { @class = "control-label col-md-2", @id = "lblCodiceFiscale" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.CodiceFiscale, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CodiceFiscale, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PartitaIva, htmlAttributes: new { @class = "control-label col-md-2", @id = "lblPartitaIva" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.PartitaIva, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PartitaIva, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions">
        <input type="submit" value="Delete" class="btn btn-danger" />
    </div>
}
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var tipoCliente = $("#TipoCliente").val();
            if (tipoCliente == "Privato") {
                $("#lblCodiceFiscale").show();
                $("#CodiceFiscale").show();
                $("#lblPartitaIva").hide();
                $("#PartitaIva").hide();
            }
            else {
                $("#lblCodiceFiscale").hide();
                $("#CodiceFiscale").hide();
                $("#lblPartitaIva").show();
                $("#PartitaIva").show();
            }
        });

        $("#TipoCliente").change(function () {
            var tipoCliente = $("#TipoCliente").val();
            if (tipoCliente == "Privato") {
                $("#lblCodiceFiscale").show();
                $("#CodiceFiscale").show();
                $("#lblPartitaIva").hide();
                $("#PartitaIva").hide();
            }
            else {
                $("#lblCodiceFiscale").hide();
                $("#CodiceFiscale").hide();
                $("#lblPartitaIva").show();
                $("#PartitaIva").show();
            }
        });
    </script>
}