@model AgenziaSpedizioni.Models.Cliente

@{
    ViewBag.Title = "Edit";
}

<h1>Modifica cliente</h1>

@Html.ActionLink("Torna a elenco", "Index", null, new { @class = "btn btn-primary" })

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoCliente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TipoCliente", new SelectList(new List<Object>
                  {
                      //new { value = "", text = "Scegli tipo cliente", disabled = "disabled", selected = "selected" },
                      new { value = "Privato", text = "Privato", selected = "selected" },
                      new { value = "Azienda", text = "Azienda" }
                  }, "value", "text"), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TipoCliente, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CodiceFiscale, htmlAttributes: new { @class = "control-label col-md-2", @id = "lblCodiceFiscale" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CodiceFiscale, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CodiceFiscale, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PartitaIva, htmlAttributes: new { @class = "control-label col-md-2", @id = "lblPartitaIva" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PartitaIva, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PartitaIva, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salva" class="btn btn-warning" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

        <script>
        $(document).ready(function () {
            var tipoCliente = $("#TipoCliente").val();
            if (tipoCliente == "Privato") {
                $("#lblCodiceFiscale").show();
                $("#CodiceFiscale").show();
                $("#lblPartitaIva").hide();
                $("#PartitaIva").hide();
            }
            else {
                $("#lblCodiceFiscale").hide();
                $("#CodiceFiscale").hide();
                $("#lblPartitaIva").show();
                $("#PartitaIva").show();
            }
        });

        $("#TipoCliente").change(function () {
            var tipoCliente = $("#TipoCliente").val();
            if (tipoCliente == "Privato") {
                $("#lblCodiceFiscale").show();
                $("#CodiceFiscale").show();
                $("#lblPartitaIva").hide();
                $("#PartitaIva").hide();
            }
            else {
                $("#lblCodiceFiscale").hide();
                $("#CodiceFiscale").hide();
                $("#lblPartitaIva").show();
                $("#PartitaIva").show();
            }
        });
        </script>
  
}
