@model AgenziaSpedizioni.Models.Spedizione

@{
    ViewBag.Title = "Delete";
    string nomeCliente = AgenziaSpedizioni.Models.Utility.GetClienteById(Model.ClienteId).Nome;
}

<h1>Delete</h1>
@if (ViewBag.msgErrore != null)
{
    <div class="alert alert-danger fw-bold text-danger my-3" role="alert">
        @ViewBag.msgErrore
    </div>
}
@if (ViewBag.msgSuccess != null)
{
    <div class="alert alert-success fw-bold text-success my-3" role="alert">
        @ViewBag.msgSuccess
    </div>
}
@Html.ActionLink("Torna a elenco", "Index", null, new { @class = "btn btn-primary" })

<h3>Sei sicuro di voler cancellare la spedizione?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
           Nome Cliente
        </dt>

        <dd>
           @nomeCliente
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroIdentificativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroIdentificativo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataSpedizione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataSpedizione)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CittaDestinataria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CittaDestinataria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IndirizzoDestinatario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndirizzoDestinatario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NominativoDestinatario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NominativoDestinatario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Costo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Costo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataConsegnaPrevista)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataConsegnaPrevista)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions ">
            <input type="submit" value="Delete" class="btn btn-danger" />

        </div>
    }
</div>
